<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<h1>当前位置
    <small><%= title %></small>
</h1>
