<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<!--<a href="ancode://toaliveguide/param?activity=aliveguide">gotoActivity</a>-->

<script type="text/javascript">
    function gotoActivity(activity) {
        aliveStatsMethod.toActivity(activity);
    }
</script>

<button onClick="gotoActivity('aliveguide')">gotoActivity A</button>
</body>
</html>
